.francy {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  margin-top: 3px;
  border: solid 1px #cfcfcf;
  font-size: 13px
}

.francy-size10 {
  font-size: 10px!important
}

.francy-highlight:hover>path {
  stroke: #70C700;
  stroke-width: 2
}

.francy-selected>path {
  stroke: #70C700!important;
  stroke-width: 5!important
}

.francy-context {
  cursor: context-menu!important
}

.francy-links {
  cursor: pointer
}

.francy-links path {
  stroke: #999;
  fill: none
}

.francy-arrows path {
  fill: #999
}

.francy a {
  color: inherit
}

.francy-main-menu {
  background: #f6f6f6;
  float: left;
  list-style: none;
  width: 100%;
  border-bottom: 1px solid #cfcfcf
}

.francy-main-menu li {
  float: left;
  position: relative;
  cursor: pointer;
  padding-left: 2px!important;
}

.francy-main-menu li ul {
  box-shadow: 5px 5px 5px grey;
  min-width: 120px;
  z-index: 500
}

.francy-main-menu li ul li:hover ul {
  position: absolute;
  left: 100%!important;
  top: 0!important;
}

.francy-main-menu li ul li ul {
  left: -9999px!important;
  list-style: none;
  position: absolute
}

.francy-main-menu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none
}

.francy-main-menu .francy-title,
.francy-main-menu .francy-loader {
  float: right!important;
  cursor: auto
}

.francy-main-menu li.francy-title:hover a:hover {
  background: inherit!important
}

.francy-main-menu li:hover a {
  background: #f6f6f6;
  text-decoration: none
}

.francy-main-menu li:hover a:hover {
  background: #ededed;
  text-decoration: none
}

.francy-main-menu li:hover ul {
  left: 0
}

.francy-main-menu li:hover ul a {
  text-decoration: none
}

.francy-main-menu li:hover ul li a:hover {
  background: #ededed
}

.francy-main-menu ul {
  left: -9999px;
  list-style: none;
  position: absolute
}

.francy-main-menu ul a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 120px
}

.francy-main-menu ul li {
  float: none;
  width: 100%
}

.francy-context-menu-holder {
  display: none;
  position: absolute
}

.francy-nodes,
.francy-bars,
.francy-lines,
.francy-labels,
.francy-scatters {
  cursor: pointer
}

.francy-node path {
  stroke: #000;
  stroke-width: 0.5px
}

.francy-lines path {
  fill: none
}

.francy-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 990;
  overflow: hidden;
}

.francy-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: inherit;
  right: inherit;
  z-index: 1000;
  background: #fff;
  box-shadow: 5px 5px 5px #000;
  margin-left: -182px;
  margin-top: -102px;
  padding: 10px;
  display: block;
  min-width: 250px;
  max-width: 400px
}

.francy-modal-header {
  border-bottom: 1px solid #cfcfcf;
  text-align: center;
  padding: 10px 0
}

.francy-modal-footer {
  border-top: 1px solid #cfcfcf;
  padding: 10px 0
}

.francy-modal-content {
  margin: 15px 5px
}

.francy-modal-content input,
.francy-modal-content select {
  margin: 1px;
  width: 100%
}

.francy-modal-footer button {
  float: right;
  margin-left: 5px
}

.francy-canvas {
  width: 100%
}

.francy svg {
  cursor: move;
  background-color: white
}

.francy text {
  fill: #000;
  font-size: 12px
}

.francy ul {
  margin: 0;
  padding: 0
}


div.output_subarea.jp-OutputWidget-Francy.output_result {
  padding: 0;
  max-width: inherit!important
}

.francy-tooltip-holder {
  display: none;
  position: absolute
}

.francy-tooltip {
  min-width: fit-content;
  background: none repeat scroll 0 0 #f6f6f6;
  border: 1px solid #cfcfcf;
  padding: 10px;
  text-align: justify
}

.francy-title {
  font-weight: 700;
  text-overflow: ellipsis
}

.francy-loader>a {
  padding: 10px 10px 0 0!important;
}

.francy-context-menu {
  background: #f6f6f6;
  color: #333;
  min-width: 150px;
  border: 1px solid #cfcfcf;
  z-index: 500;
  box-shadow: 5px 5px 5px grey
}

.francy-context-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer
}

.francy-context-menu ul li a {
  background: #f6f6f6;
  display: block;
  padding: 5px 10px;
  text-decoration: none
}

.francy-context-menu ul li a:hover {
  background-color: #ededed
}

.francy-table {
  display: table;
  width: 100%
}

.francy-table-row {
  display: table-row
}

.francy-table-row:first-child {
  text-align: right;
}

.francy-table-heading {
  background-color: #eee;
  display: table-header-group
}

.francy-table-cell,
.francy-table-head {
  display: table-cell;
  padding: 0 6px;
  vertical-align: middle;
  white-space: nowrap
}

.francy-table-heading {
  background-color: #eee;
  display: table-header-group;
  font-weight: 700
}

.francy-table-foot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: 700
}

.francy-table-body {
  display: table-row-group
}

.francy pre {
  outline: 1px solid #ccc;
  overflow: auto;
  max-height: 200px
}

.francy .string {
  color: green
}

.francy .number {
  color: #ff8c00
}

.francy .boolean {
  color: blue
}

.francy .null {
  color: #f0f
}

.francy .key {
  color: red
}

@media only screen and (max-width: 700px) {
  .francy-main-menu .francy-title,
  .francy-main-menu .francy-loader {
    display: none
  }
}

.francy-message-holder {
  position: absolute;
  width: fit-content;
  max-width: 40%;
  min-width: 30%;
  top: 55px;
  left: 10px;
}

.francy-alert>span:not(:first-child) {
  margin-left: 5px
}

.francy-alert {
  padding: .75rem 1rem;
  margin: .2rem 0 0 .2rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  cursor: pointer
}

.francy-alert:hover span.closeme {
  display: inline!important;
  float: right
}

.francy-alert.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb
}

.francy-alert.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb
}

.francy-alert.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb
}

.francy-alert.alert-default {
  color: #1b1e21;
  background-color: #f6f6f6;
  border-color: #cfcfcf
}

.francy-alert.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba
}

.strong {
  font-weight: 700
}

div.output_subarea {
  max-width: 100%;
}

.loader {
  border: 4px solid #cfcfcf;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 5px;
  height: 5px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 11px 3px 0 0;
  visibility: hidden;
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
