/doc/chap*
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.tex
/doc/*.toc
/doc/manual.*
/doc/*.js
/doc/*.css
/doc/Francy.xml
/doc/title.xml
/doc/chooser.html
/doc/_*.xml

**/doc/js

*/tmp/
*/gh-pages/

**/node_modules/

# istanbul
**/.nyc_output/

**/coverage/

coverage
*.coverage

**/*.egg-info/
**/build/
gap/dist/
**/lib/

# Compiled javascript
**/__pycache__/
**/jupyterlab-francy.egg-info/

# OS X
**/.DS_Store

*.tgz

build.sh

*.ipynb_checkpoints

*.log

**/dist/*

**/build_log.json

**/docs/*

**/labextension/

**/.nx
**/.yarn
