.francy .highlight:hover {
stroke:#fffd00;
stroke-width:2px
}

.francy .links {
cursor:auto
}

.francy .links line,.arrows path {
stroke:#999;
stroke-opacity:.6
}

.francy a {
color:inherit;
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif
}

.francy .nav {
background:#f6f6f6;
color:#333;
float:left;
list-style:none;
position:relative;
width:100%;
z-index:5;
border:1px solid #ededed
}

.francy .nav > li {
margin-left:5px
}

.francy .nav li {
float:left;
position:relative
}

.francy .nav li ul {
width:100%
}

.francy .nav li a {
background:#f6f6f6;
display:block;
padding:5px;
text-decoration:none
}

.francy .nav li:hover a {
background:#f6f6f6;
text-decoration:none
}

.francy .nav li:hover a:hover {
background:#ededed;
text-decoration:none
}

.francy .nav li:hover ul {
left:0
}

.francy .nav li:hover ul a {
text-decoration:none
}

.francy .nav li:hover ul li a:hover {
background:#ededed
}

.francy .nav ul {
background:#333;
left:-9999px;
list-style:none;
position:absolute
}

.francy .nav ul a {
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis
}

.francy .nav ul li {
float:none;
width:100%
}

.francy .nodes {
cursor:pointer
}

.francy .nodes circle,.nodes rect {
stroke:#fff
}

.francy.overlay {
position:absolute;
top:0;
left:0;
height:100%;
width:100%;
background-color:rgba(0,0,0,0.5);
z-index:10
}

.francy .modal {
position:fixed;
top:50%;
left:50%;
bottom: inherit;
right: inherit;
z-index:11;
background:#fff;
box-shadow:1px 1px 3px #000;
margin-top:-100px;
margin-left:-150px;
padding:10px;
display: block;
}

.francy .modal .header {
border-bottom:1px solid #ededed;
padding:10px
}

.francy .modal .footer {
border-top:1px solid #ededed;
padding:10px
}

.francy .modal .content {
padding:5px
}

.francy .modal .content input {
margin:5px;
width:45%
}

.francy .modal .content label {
display:inline-block;
margin:5px;
text-align:right;
width:45%
}

.francy .modal .footer button {
float:right;
margin-left:5px
}

.francy .window {
display:grid;
width:100%
}

.francy .canvas {
margin:3px
}

.francy .window,.canvas {
border:solid 1px #ddd
}

.francy svg {
cursor:move
}

.francy text.label {
fill:#000;
font-size:11px
}

.francy ul {
margin:0;
padding:0
}