.highlight:hover {
stroke:#fffd00;
stroke-width:2px
}

.links {
cursor:auto
}

.links line,.arrows path {
stroke:#999;
stroke-opacity:.6
}

a {
color:inherit;
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif
}

.nav {
background:#f6f6f6;
color:#333;
float:left;
list-style:none;
position:relative;
width:100%;
z-index:5;
border:1px solid #ededed
}

.nav > li {
margin-left:5px
}

.nav li {
float:left;
position:relative
}

.nav li ul {
width:100%
}

.nav li a {
background:#f6f6f6;
display:block;
padding:5px;
text-decoration:none
}

.nav li:hover a {
background:#f6f6f6;
text-decoration:none
}

.nav li:hover a:hover {
background:#ededed;
text-decoration:none
}

.nav li:hover ul {
left:0
}

.nav li:hover ul a {
text-decoration:none
}

.nav li:hover ul li a:hover {
background:#ededed
}

.nav ul {
background:#333;
left:-9999px;
list-style:none;
position:absolute
}

.nav ul a {
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis
}

.nav ul li {
float:none;
width:100%
}

.nodes {
cursor:pointer
}

.nodes circle,.nodes rect {
stroke:#fff
}

.overlay {
position:absolute;
top:0;
left:0;
height:100%;
width:100%;
background-color:rgba(0,0,0,0.5);
z-index:10
}

.modal {
position:fixed;
top:50%;
left:50%;
z-index:11;
background:#fff;
box-shadow:1px 1px 3px #000;
margin-top:-100px;
margin-left:-150px;
padding:10px
}

.modal .header {
border-bottom:1px solid #ededed;
padding:10px
}

.modal .footer {
border-top:1px solid #ededed;
padding:10px
}

.modal .content {
padding:5px
}

.modal .content input {
margin:5px;
width:45%
}

.modal .content label {
display:inline-block;
margin:5px;
text-align:right;
width:45%
}

.modal .footer button {
float:right;
margin-left:5px
}

.window {
display:grid;
width:100%
}

.canvas {
margin:3px
}

.window,.canvas {
border:solid 1px #ddd
}

svg {
cursor:move
}

text.label {
fill:#000;
font-size:11px
}

ul {
margin:0;
padding:0
}