/**
 * Graphs
 */
svg {
  cursor: move;
}

.nodes {
  cursor: pointer;
}

.links {
  cursor: auto;
}

text.label {
  font-size: 11px;
  fill: #000000;
}

.links line, .arrows path {
  stroke: #999999;
  stroke-opacity: 0.6;
}

.nodes circle, .nodes rect {
  stroke: #ffffff;
}

.highlight:hover {
  stroke: #fffd00;
  stroke-width: 2px;
}

/**
 * Menus
 */
.dropdown-button {
  background-color: #ededed;
  color: black;
  padding: 4px;
  border: 1px solid;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-left: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button.dropdown-button {
  color: black;
  padding: 4px 12px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  width: 100%;
  border-width: 0 1px 1px 1px;
  text-align: left;
}

.dropdown-content, button:hover {
  background-color: #ededed;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover, .dropdown-button {
  background-color: #f6f6f6;
}

.menu {
  margin: 0;
  padding: 4px;
  background-color: #f6f6f6;
  border: 1px solid #dddddd;
}

.window, .canvas {
  border: solid 1px #dddddd;
  padding: 3px;
}

.window {
  display: inline-block!important;
}


/**
 * Modal
 *
 */

.requiredArgs {
  padding: 10px;
}

.requiredArgs > label {
  margin: 3px;
  display: inline-block;
  text-align: right;
  width: 40%;
}

.requiredArgs > input {
  margin: 3px;
  width: 54%;
}

/**
 * JQuery
 */
.ui-dialog {
  width: auto !important;
}

.ui-dialog-content {
  border: 1px solid #dddddd !important;
  margin-top: 4px;
  padding: inherit !important;
}

.ui-dialog-content svg {
  margin: 4px;
}

.ui-corner-all {
  border-radius: inherit !important;
}

.ui-widget-header {
  background: #e9e9e9 none;
  border: 1px solid #dddddd;
}

.ui-dialog .ui-dialog-buttonpane {
  padding: 0 !important;
}

.ui-dialog .ui-dialog-buttonpane {
    margin-top: 3px!important;
}