body {
    font-family: helvetica, sans-serif, arial;
    font-size: 1em;
    color: #111;
}

h1 {
    text-align: center;
}

#terminal-container {
    width: 800px;
    height: 450px;
    margin: 0 auto;
}

#terminal-container .terminal {
    background-color: #111;
    color: #fafafa;
    padding: 2px;
}

#terminal-container .terminal:focus .terminal-cursor {
    background-color: #fafafa;
}

section {
    margin: auto;
    padding: 10px;
}
div#terminal-container {
    width: 65%;
    float: left;
}
div#graphics {
    float: right;
}
section>div#graphics>div {
    border: solid 1px #c6c6c6;
}