labextension/lib/
nbextension/lib/
nbextension/embed/
node_modules/
npm-debug.log
*.egg-info/
build/
dist/

# Compiled javascript
francy_renderer/__pycache__/
francy_renderer/static/

# OS X
.DS_Store
