name: RELEASE

# Trigger the workflow on release, which is created by the release tools locally
on:
  release:
    types: [published]

# the `concurrency` settings ensure that not too many CI jobs run in parallel
concurrency:
  # group by workflow and ref; the last slightly strange component ensures that for pull
  # requests, we limit to 1 concurrent job, but for the master branch we don't
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/master' || github.run_number }}
  # Cancel intermediate builds, but only if it is a pull request build.
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  publish_js_python_packages:
    #needs: gap_release_tools
    name: Build and Publish plugins
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 24.x ]

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip
      - run: pip install jupyterlab build
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://registry.npmjs.org'
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(pwd)/.yarn/cache" >> "$GITHUB_OUTPUT"
        shell: bash
        working-directory: js
      - name: Restore yarn cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: yarn-cache-folder-${{ hashFiles('**/yarn.lock', '.yarnrc.yml') }}
          restore-keys: |
            yarn-cache-folder-
      - run: yarn install --immutable
        working-directory: js
      - run: yarn run build:prod
        working-directory: js
      - name: Configure npm
        run: |
          npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
        working-directory: js
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish Browser extension
        run: npm publish --no-workspaces
        working-directory: js/packages/francy-extension-browser
      - run: python -m build --wheel --sdist
        working-directory: js/packages/francy-extension-jupyterlab
      - name: Publish Jupyterlab extension PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: js/packages/francy-extension-jupyterlab/dist

